[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OmicsBraid"]
	path = OmicsBraid
	url = https://github.com/microbes-potential/omicsbraid
